@model Hospital_Management.Models.ViewModels.User.LoginViewModel

@{
}

<h1>Login</h1>

<form method="post", action="Login">
	<div>
		<label for="Username">Username</label>
		<input type="text" class="form-control" , asp-for="Username">
	</div>

	<div>
		<label for="Password">Password</label>
		<input type="password" class="form-control" , asp-for="Password">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>